doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    block head
      meta(name="description" content="Classical-style paintings created by Tálos István")
      title Tálos István 
  body
    .container 
      block header
        header
          .js-nav--wrapper
            div
              nav.nav
                block nav
                  block nav
                  -const menu = [{ slug: '/', title: 'Home', }, ]
                  each item, index in menu
                    a.js-nav--item.text__nav(href=item.slug, class=(index === menu.length - 1) ? 'nav--item__last' : '') #{item.title}
          .js-nav--menu 
            a.js-nav--item.text__nav(href="/") Home

      block content
        main
        
      footer
        .links--wrapper
          a.footer--text__link(href="/impressum") Impressum
          span.footer-devider |
          a.footer--text__link(href="/privacy") Privacy Policy
        p.footer--text © 2024 Copyright Tálos István


    