mixin head()
  script(async src="https://kit.fontawesome.com/af9fa598da.js", crossorigin="anonymous")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Splash&display=swap")
  link(rel="icon", type="image/svg+xml", href="/images/icons/logo_light.svg")