.content-card {
    width:           100%;
    min-height:      calc(100vh - var(--header-height) - var(--footer-height));
    background:      var(--secondary-color) 0% 0% no-repeat padding-box;
    display:         grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:    repeat(2, 1fr);
    grid-template-areas: 
      "map contact-wrapper"
       "map open-wrapper";
    padding:        5rem;
    gap:            2rem;
    
  }

  .map {grid-area: map;}
  .contact--wrapper {grid-area: contact-wrapper;}
  .open--wrapper {grid-area: open-wrapper;}

  .map {
    width:           min(100%, 563px);
    height:          80%;
    border-radius:   2px;
    object-fit:      cover;
    border:          1px solid var(--background-color);
    justify-self:    flex-end;
    
  }

 

    .contact--wrapper, .open--wrapper {
      display:         flex;
      flex-flow:       column nowrap;
      justify-content: flex-start;
      gap:             .5rem;
      
    }

    


      /* Phone and email */

        .phone, .email {
          display:        block;
          text-transform: none;
          margin-bottom:  .25rem;

        }

        
  
        .phone:hover, .email:hover {
          text-decoration: underline;
        }

  


      
 @media (max-width: 923px) {
  .content-card {
    grid-template-areas: 
      "contact-wrapper"  
      "map"
      "open-wrapper";
    grid-template-columns: 1fr;
    grid-template-rows:    auto;
    justify-items:         center;
    padding:               2rem 5% 2rem 5%;
    
  }

  .contact--wrapper {
    padding-top:  2rem;
  }
  
  .map {
    width:        clamp(286px, 80%, 358px);
    aspect-ratio: 1/1;
    place-self:   center;
  }
}

@media (max-width: 323px) {
  .content-card {
    padding: 2rem 5px 2rem 5px;
    overflow-x: scroll;
  }
  
}