
.paintings > h2 {
    text-align: center;
  }

.paintings-wrapper {
  display:         flex;
  flex-flow:       column nowrap;
  justify-content: flex-start;
  align-items:     center;
  gap:             3rem;
}


.single-painting {
    width:      75.3125vw;
    max-width:  500px;
    height:     auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
    
}

figcaption {
  font-size:      var(--font-size-small);
  line-height:    var(--line-height-small);
  font-weight:    300;
  text-align:     center;
 
}

@media(min-width: 768px) {
  .paintings-wrapper {
    gap: 4rem;
  }
}